# Application
PORT=5000
ALLOWED_ORIGINS=*

# MongoDB Connection
MONGO_URL=mongodb://xxxx/
MONGO_DB_NAME=report
MONGO_COLLECTION_NAME=customer
MONGO_QUERY_COLLECTION_NAME=queries

# Splunk Connection
SPLUNK_PORT=8089
SPLUNK_USER=admin
SPLUNK_PASS=changeme
SPLUNK_HOSTS=localhost

# Elasticsearch (If applicable)
ELASTICSEARCH_HOST=host.docker.internal
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SCHEME=http

